<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login page</h1>
    <form method="post" action="/meeting/create">
      <label for="name">Meeting name:</label>
      <input type="text" id="name" name="name">

      <label for="date">Meeting date:</label>
      <input type="date" id="date" name="date">

      <input type="submit" value="Submit"> 
    </form>
  </body>
</html>
