{% extends "./layout/base.njk" %}

{% block head %}
  <title>Meeting</title>
{% endblock %}

{% block default %}
  <main class="meeting-page">
    <h1>Create Meeting</h1>
    <form method="post" action="/meeting/create">
      <label for="name">Meeting name:</label>
      <input type="text" id="name" name="name">

      <label for="date">Meeting date:</label>
      <input type="date" id="date" name="date">

      <input type="submit" value="Submit"> 
    </form>
  </main>
{% endblock %}

