<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <link rel="stylesheet" href="/static/dashboard.css" type="text/css"/>
    <div class="topnav">
        <a class="active" href="/dashboard">My meetings</a>
        <a class="createBtn" href="/dashboard/create">Create a meeting</a>
    </div>
    <h1>Hello {{ user.name }}</h1>
    <form action="/logout?_method=DELETE" method="post">
      <button type="submit">Log out</button>
    </form>

    {% if meetings %}
      <h1>Meetings:</h1>
      <ul>
        {% for meeting in meetings %}
          <li>
            <div>Name: {{ meeting.name }}</div>
            <div>Date: {{ meeting.date }} </div>
            <a href='/room/{{ meeting.id }}'>Join</a>
          </li>
        {%- endfor %}
      </ul>
    {% endif %}
  </body>
</html>
