{% extends "./layout/base.njk" %}

{% block head %}
  <title>Login</title>
{% endblock %}

{% block default %}
  <main class="login-page">
    <form class="login-form" method="post" action="/login">
      <h1 class="login-title">Login</h1>
      <div class="login-form-group">
        <input class="login-form-group-input" type="text" id="email" name="email" placeholder="Email">
        <label class="login-form-group-label" for="email">
            <span class="material-symbols-rounded">
              mail
            </span>
        </label>
      </div>

      <div class="login-form-group">
        <input class="login-form-group-input" type="password" id="password" name="password" placeholder="Password">
        <label class="login-form-group-label" for="password">
            <span class="material-symbols-rounded">
              lock
            </span>
        </label>
      </div>

      <button class="button" type="submit">
        Log in
      </button>
    </form>
  </main>
{% endblock %}
