{% extends "./layout/base.njk" %}

{% block head %}
  <title>Register</title>
{% endblock %}

{% block default %}
  <main class="register-page">
    <h1>Register page</h1>
    <form method="post" action="/register">
      <label for="name">Enter your name:</label>
      <input type="text" id="name" name="name">

      <label for="surname">Enter your surname:</label>
      <input type="text" id="surname" name="surname">

      <label for="email">Enter your email:</label>
      <input type="text" id="email" name="email">

      <label for="password">Enter your password:</label>
      <input type="password" id="password" name="password">

      <input type="submit" value="Submit">
    </form>
  </main>
{% endblock %}

