{% extends "./layout/base.njk" %}

{% block head %}
  <title>Register</title>
{% endblock %}

{% block default %}
  <main class="register-page">
    <form method="post" action="/register" class="register-form">
    <h1 class="register-login-title">Register</h1>
    <div class="register-form-group">
      <input class="register-form-group-input" type="text" id="name" name="name" placeholder="Name">
      <label class="register-form-group-label" for="name">
        <span class="material-symbols-rounded">
        person_filled
        </span>
      </label>
    </div>

    <div class="register-form-group">
      <input class="register-form-group-input" type="text" id="surname" name="surname" placeholder="Surname">
      <label class="register-form-group-label" for="surname">
            <span class="material-symbols-rounded">
              person_filled
            </span>
      </label>
    </div>

    <div class="register-form-group">
      <input class="register-form-group-input" type="text" id="email" name="email" placeholder="Email">
      <label class="register-form-group-label" for="email">
        <span class="material-symbols-rounded">
          mail
        </span>
      </label>
    </div>

    <div class="register-form-group">
      <input class="register-form-group-input" type="password" id="password" name="password" placeholder="Password">
      <label class="register-form-group-label" for="password">
        <span class="material-symbols-rounded">
         lock
        </span>
      </label>
    </div>
      <button class="button" type="submit">
         Register
      </button>
    </form>
  </main>
{% endblock %}

