{% extends "./layout/base.njk" %}

{% block head %}
  <title>Meeting</title>
{% endblock %}

{% block default %}
  <main class="meeting-page">
    <form class="save-meeting-form" method="post"
      {% if meeting %}
        action="/meeting/save/{{ meeting.id }}"
      {% else %}
        action="/meeting/save"
      {% endif %}
    >
    <h1 class="meeting-title">Meeting</h1>
    <div class="save-meeting-form-group">
      <input type="text" class="save-meeting-form-group-input" id="name" name="name" placeholder="Meeting name"
        {% if meeting %}
        value="{{ meeting.name }}"
        {% endif %}
      >
      <label class="save-meeting-form-group-label" for="name">
        <span class="material-symbols-rounded">
          meeting_room
        </span>
      </label>
    </div>

    <div class="save-meeting-form-group">
      <input type="datetime-local" class="save-meeting-form-group-input" id="date" name="date"
        {% if meeting %}
          value="{{ meeting.date }}"
        {% endif %}
      >
      <label class="save-meeting-form-group-label" for="date">
        <span class="material-symbols-rounded">
        schedule
        </span>
      </label>
    </div>
      <script>
        const date = Date.parse('{{ meeting.date }}')
        const offset = (new Date()).getTimezoneOffset() * 60000 //offset in milliseconds
        const localDate = (new Date(date - offset)).toISOString().slice(0, -1)

        document.getElementById('date').setAttribute('value', localDate)
        console.log(localDate)
      </script>

      <button class="button" type="submit">
        Create
      </button>
    </form>
  </main>
{% endblock %}

