@use './utils.scss' as u;

.dashboard-page {
  height: 100%;
  width: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;

  &-content {
    flex-grow: 1;
    max-height: calc(98vh - 3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    box-sizing: border-box;

    &-calendar {
      background-color: var(--background-color-1);
      box-shadow: var(--elevation-1);
      border: 0 solid black;
      border-radius: var(--corner-roundness);
      overflow: hidden;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;

      &-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--background-color-2);
        box-shadow: var(--elevation-2);
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        z-index: 1;

        &-date_controls {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          font-weight: bold;
          user-select: none;
          color: var(--accent-color);
        }

        &-weekday {
          display: flex;
          gap: 1rem;
          width: 100%;
          box-sizing: border-box;
          justify-content: space-around;

          & > * {
            width: calc(1 / 8 * 100%);
            overflow: hidden;
            user-select: none;
          }

          & > *:not(.clock) {
            font-size: 0;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          & > .clock {
            display: flex;
            justify-content: center;
          }

          & > *:not(.clock)::first-letter {
            font-size: 1rem;
            color: var(--accent-color);
            font-weight: bold;
            box-sizing: border-box;
            padding-left: calc(50% - 0.5rem);
            padding-right: calc(50% - 0.5rem);
          }
        }
      }

      &-main {
        width: 100%;
        box-sizing: border-box;
        flex-grow: 1;
        overflow: auto;
        display: grid;
        padding-left: 1rem;
        padding-right: 1rem;
        grid-template-columns: repeat(8, 1fr);
        gap: 0.08rem;

        & > * {
          &:not(:last-child) {
            border-right: var(--text-color-lighter) solid 1px;
          }

          &:first-child > * {
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 1rem;
            padding-left: 1rem;
          }

          & > * {
            --padding-x-row: 0.25rem;
            --padding-y-row: 0.5rem;

            position: relative;
            height: 8rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            padding-top: var(--padding-y-row);
            padding-bottom: var(--padding-y-row);
            padding-right: var(--padding-x-row);
            padding-left: var(--padding-x-row);
            overflow-y: auto;


            &:first-child {
              padding-top: 1rem;
            }

            &:not(:last-child) {
              border-bottom: var(--text-color-lighter) solid 1px;
            }
          }
        }
      }
    }
  }
}

@include u.media(md) {
  .dashboard-page {
    &-content {
      &-calendar {
        width: fit-content;
        min-width: 100%;

        &-nav {
          &-weekday {
            & > *:not(.clock) {
              font-size: 1rem;
              overflow: auto;
              display: flex;
              justify-content: center;
            }

            & > *:not(.clock)::first-letter {
              overflow: auto;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.empty-button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  pointer-events: auto;
  cursor: pointer;

  &:hover {
    color: var(--accent-color-lighter);
  }

  &:active {
    color: var(--accent-color-darker);
  }
}

.meeting-chip {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  border: 0 solid transparent;
  border-radius: var(--corner-roundness);
  width: calc(100% - 2 * var(--padding-x-row));
  box-sizing: border-box;
  box-shadow: var(--elevation-3);
  text-decoration: none;
  font-size: 1rem;
  color: var(--white);
  pointer-events: auto;
  cursor: pointer;
  user-select: none;
  padding: 0.25rem 0.5rem;

  & > * {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


  &:not(:focus) {
    .actions {
      visibility: hidden;
      width: 0;
    }
  }

  &:focus {
    min-width: max(8rem, 100%);
    border-top-left-radius: calc(var(--corner-roundness) / 2);
    border-top-right-radius: calc(var(--corner-roundness) / 2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    z-index: 4;
  }

  a {
    text-decoration: none;
  }

  .actions {
    position: absolute;
    bottom: -99%;
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    background-color: var(--accent-color);
    border: 0 solid transparent;
    border-bottom-left-radius: calc(var(--corner-roundness) / 2);
    border-bottom-right-radius: calc(var(--corner-roundness) / 2);
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .icon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white);

      box-sizing: border-box;
      padding: 0.15rem;

      color: var(--accent-color);
      font-weight: bold;

      border: 0 solid transparent;
      border-radius: var(--corner-roundness);

      &:hover {
        color: var(--accent-color-lighter);

      }

      &:active {
        color: var(--accent-color-darker);
      }
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;

      button {
        height: fit-content;
        background-color: transparent;
        border: none;
        // color: var(--white);
        cursor: pointer;
      }
    }
  }
}

@include u.media(lg) {
  .meeting-chip {
    pointer-events: auto;
    cursor: default;

    & > * {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }


    &:not(:focus) {
      .actions {
        visibility: visible;
        width: 100%;
      }
    }

    &:focus {
      min-width: calc(100% - 2 * var(--padding-x-row));
      border-radius: var(--corner-roundness);
      width: 50%;
    }

    a {
      text-decoration: none;
    }

    .actions {
      overflow: unset;
      position: initial;
      bottom: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem;
      background-color: var(--accent-color);
      border: 0 solid transparent;
      border-bottom-left-radius: calc(var(--corner-roundness) / 2);
      border-bottom-right-radius: calc(var(--corner-roundness) / 2);
      left: 0;
    }
  }
}

.create-meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0 solid transparent;
  border-radius: var(--corner-roundness);
  background-color: var(--accent-color);
  color: var(--white);
  box-sizing: border-box;
  padding: 0.25rem 1rem;

  &:hover {
    background-color: var(--accent-color-lighter);
  }

  &:active {
    background-color: var(--accent-color-darker);
  }
}
