.navigation {
  position: relative;
  background-color: var(--background-color-3);
  box-shadow: var(--elevation-3);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  font-size: 1rem;

  .navigation-content-name {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
  }

  &-controls-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
  }

  &-dropdown {
    position: relative;
    height: 100%;

    input[type='checkbox'] {
      display: none;
    }

    &-button {
      display: flex;
      user-select: none;
      height: 100%;
      justify-content: center;
      align-items: center;

      &:hover {
        color: var(--accent-color-lighter);
        cursor: pointer;
      }
    }

    &-content {
      max-height: 0;
      overflow: hidden;
      width: fit-content;
      transition: max-height 0.15s ease-out;
      z-index: 2;
      right: 0;
      position: absolute;
      background-color: var(--background-color-1);
      box-shadow: var(--elevation-1);
      border-bottom-left-radius: calc(var(--corner-roundness) / 2);
      border-bottom-right-radius: calc(var(--corner-roundness) / 2);

      .dropdown-field {
        width: 100%;
        background-color: transparent;
        color: var(--text-color);
        font-size: 1rem;
        box-sizing: border-box;
        cursor: pointer;
      }

      & > * {
        &:not(:last-child) {
          border-bottom: 1px solid var(--text-color-lighter);
        }

        padding: 0.25rem 1rem;
      }

      .theme-settings {
        display: flex;
        gap: 0.75rem;
        padding: 1rem 0.75rem;

        &:hover {
          background-color: transparent;
        }

        & > * {
          box-shadow: var(--elevation-4);
          background-color: var(--background-color-4);
          border-radius: var(--corner-roundness);
          color: var(--text-color);
          border: 0 solid transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          cursor: pointer;

          &.active {
            color: var(--white);
            background-color: var(--accent-color);
          }

          &:hover {
            color: var(--white);
            background-color: var(--accent-color-lighter);
          }
        }
      }

      .logout-button {
        height: 100%;
        padding: 0;

        form {
          height: 100%;

          button {
            height: 100%;
            background-color: transparent;
            color: var(--text-color);
            box-sizing: border-box;
            border: none;
            width: 100%;
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
              background-color: var(--accent-color);
              color: var(--white);
            }
          }
        }
      }
    }

    input[type='checkbox']:checked ~ &-content {
      max-height: 10rem;
      transition: max-height 0.15s ease-in;
    }
  }
}
